Repository Louis-ThomasSchreiber/libpointmatcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pomerlef, @boxanm, @simonpierredeschenes, @aguenette, @RedLeader962

.github/CODEOWNERS:

# =================================================================================================
# Files or directories with designated code owner.
#
# Note:
#   - Each line is a file pattern followed by one or more owners.
#   - Branch with branch protection rule "Require review from Code Owners"
#     will automaticaly trigger a request to a designated code owner
# =================================================================================================

# ....Repository wide code owner...................................................................
# These owners will be the default owners for everything in the repo.
*       @pomerlef

# ....Core directories and files...................................................................
/README.md @pomerlef
/LICENSE @pomerlef
/pointmatcher @boxanm @simonpierredeschenes @aguenette
/python @boxanm @simonpierredeschenes @aguenette
/utest @boxanm @simonpierredeschenes @aguenette
/.env.libpointmatcher @RedLeader962

# ....DevOps related...............................................................................
/.github/ @RedLeader962
/build_system/ @RedLeader962
/build_system/utilities @RedLeader962
/.gitmodules @RedLeader962
/.gitignore @RedLeader962
/.dockerignore @RedLeader962

refactor: refact generateRandomDataPoints
  utest/ui/DataFilters.cpp
Owners: @boxanm, @simonpierredeschenes, @aguenette

add MinSurfaceVariationDataPointsFilter to registry
  pointmatcher/Registry.cpp
Owners: @boxanm, @simonpierredeschenes, @aguenette

test: add test for MinSurfaceVariationFilter with planar surface
  utest/ui/DataFilters.cpp
Owners: @boxanm, @simonpierredeschenes, @aguenette

test: add test for MinSurfaceVariation with 2 faces cloud
  utest/ui/DataFilters.cpp
Owners: @boxanm, @simonpierredeschenes, @aguenette

add MinSurfaceVariationDataPointsFilter
  CMakeLists.txt
  pointmatcher/DataPointsFilters/MinSurfaceVariation.cpp
  pointmatcher/DataPointsFilters/MinSurfaceVariation.h
Owners: @pomerlef, @boxanm, @simonpierredeschenes, @aguenette

add MinSurfaceVariationDataPointsFilter Impl
  pointmatcher/DataPointsFiltersImpl.h
Owners: @boxanm, @simonpierredeschenes, @aguenette

add example for MinSurfacevariationFilter
  examples/CMakeLists.txt
  examples/min_surface_variation_filter.cpp
Owners: @pomerlef

fix: doxygen cmake
  UseDoxygen.cmake
Owners: @pomerlef

add test results description
  utest/ui/results/FilteringWithMinSurfaceVariationPlanar.jpg
  utest/ui/results/FilteringWithMinSurfaceVariationPlanarInput.ply
  utest/ui/results/FilteringWithMinSurfaceVariationPlanarOutput.ply
  utest/ui/results/FilteringWithMinSurfaceVariationTwoFacesInput.jpg
  utest/ui/results/FilteringWithMinSurfaceVariationTwoFacesInput.ply
  utest/ui/results/FilteringWithMinSurfaceVariationTwoFacesOutput.jpg
  utest/ui/results/FilteringWithMinSurfaceVariationTwoFacesOutput.ply
  utest/ui/results/tests_results_description.txt
Owners: @boxanm, @simonpierredeschenes, @aguenette

add example results
  examples/results/chin.jpg
  examples/results/chin.ply
  examples/results/chin_filtered_with_surface_variation.jpg
  examples/results/chin_filtered_with_surface_variation.ply
  examples/results/chin_point_cloud.jpg
  examples/results/results_description.txt
Owners: @pomerlef
